.profil {
  width: 100%;
  margin-top: 15px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}
h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
h3 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 10px;
}

textarea {
  outline: none;
  resize: none;
  outline: 0px none transparent;
  box-shadow: none;
}
