.infos {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: end; */
}

.avatar {
  display: flex;
  flex-direction: column;
}

.contactMember {
  display: flex;
  gap: 1rem;
}
